body{
  color: ;
  background-image: url();
  background-size: cover;
  margin-left: 2%;
  }

  .title{
    color: ;
    font-weight: ;
    font-size: ;
    font-style: ;
    margin-bottom: 2rem;
  }

  .description > p {
    color: ;
    font-weight: ;
    font-size: ;
    font-style: ;
    margin: ;
  }

  .filters{
    color: ;
    font-weight: ;
    font-size: ;
    font-style: ;
    margin: ;
  }

  .imageContainers{
    display: grid;
    grid-column: ;
    grid-row: ;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-column-gap: ;
    margin: ;
  }
